@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.parentSection{
    
        /* background-image: url('../../../image/service.jpg'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 
}

h1{
    color: floralwhite;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}