*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.headerImage{
    border-radius: 20px;
    transition: 0.4s;
    

}
.textBackground{
    color: rgb(231, 231, 231);
}

.exploreBtn{
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #C33764 0%, #1D2671 100%);
    color: floralwhite;
    transition: 0.5s;
}

.exploreBtn:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);


}

/* headerImage */



@media screen and (min-width: 400px) {
    .headerImage {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        
    }
  }

